<% title @repo %>

<div>
  <h3><%= "#{@repo}".capitalize %></h3>
  <%= button_to "Scan Repo", scan_repo_path(@repo), :method => :get%>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>      
      <th>Url</th>      
      <th>Enabled</th>
      <th>Hosts</th>
    </tr>
    <% @sources.each do |s| -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= s.name %></td>
        <td><%= s.repo_type %> </td>
        <td><%= s.url %> </td>
        <td><%= s.enabled %> </td>
        <td><%= s.host_count %> </td>                
      </tr>
    <% end -%>
  </table> 
</div>

<h3>Packages installed on this host.</h3>
<p>
  <%= form_tag repo_path(@repo), :method => "get" do %>
    Package name
    <%= text_field :search, :package_name_equals %>
    Version name
    <%= text_field :search, :version_name_equals %>
    Arch name
    <%= text_field :search, :arch_name_equals %>        
    <%= submit_tag "Search" %><br />
  <% end %>
</p>

<p>
  <table class="list">
    <tr>
      <th><%= sort_link @search, :package_name, "Package", :class => "package" %></th>
      <th><%= sort_link @search, :version_name, "Version", :class => "version" %></th>
      <th><%= sort_link @search, :arch_name, "Arch", :class => "arch" %></th>
     </tr>

    <% @repo_installables.each do |i| -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= i.package %></td>
        <td><%= i.version %></td>
        <td><%= i.arch %></td>
      </tr>
    <% end -%>

  </table>
</p>
