<% title @host.name %>

<h3>Host Information</h3>

<p>
  <b>Host Name:</b>
  <%= @host.name %><br />
  <b>Operating System:</b>
  <%= @host.os %><br />
  <b>Running Kernel:</b>
  <%= @host.running_kernel %><br />
  <%= link_to 'Scan Host for Packages', scan_host_path(@host) %>
</p>

<h3>Packages installed on this host</h3>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>

<p>
  <%= form_tag host_path(@host), :method => "get" do %>
    Package name
    <%= text_field :search, :package_name_contains %>
    Version name
    <%= text_field :search, :version_name_contains %>
    Arch name
    <%= text_field :search, :arch_name_contains %>        
    <%= submit_tag "Search" %><br />
    All searches will be AND'ed
  <% end %>
</p>

<p>
  <table class="list">
    <tr>
      <th><%= sort_link @search, :package_name, "Package", :class => "package" %></th>
      <th><%= sort_link @search, :version_name, "Version", :class => "version" %></th>
      <th><%= sort_link @search, :arch_name, "Arch", :class => "arch" %></th>
      <th><%= sort_link @search, :installed_on, "Install Date", :class => "installation" %></th>
     </tr>

  <% @host_installations.each do |i| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to i.package, package_path(i.package) %></td>
      <td><%= i.version %></td>
      <td><%= i.arch %></td>
      <td><%= i.installed_on %></td>  
    </tr>
  <% end %>
</table>

</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
