<% title @host.name %>

<h3>Host Information</h3>

<p>
  <b>Host Name:</b>
  <%= @host.name %><br />
  <b>Running Kernel:</b>
  <%= @host.running_kernel %><br />
  <%= link_to 'Scan Host for Packages', scan_host_path(@host) %>
</p>

<h3>Packages installed on this host</h3>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>

<p>
  <table class="list">
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Install Date</th>
     </tr>

  <% @host.installations.each do |i| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= i.package.to_s %></td>
      <td><%= i.version.to_s%></td>
      <td><%= i.installed_on %></td> 
    </tr>
  <% end %>
</table>

</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
