<%= title @host.name %>

<div>
  <h3>Host Information.</h3>
  <table>
    <tr class="<%= cycle("even", "odd") -%>">
      <td>Host Name</td>  
      <td><%= @host.name %></td>
    </tr>      
    <tr class="<%= cycle("even", "odd") -%>">
      <td>Operating System</td>  
      <td><%= @host.os %></td>
    </tr>      
    <tr class="<%= cycle("even", "odd") -%>">      
      <td>Running Kernel</td>  
      <td><%= @host.running_kernel %></td>
    </tr>
  </table>  
  <%= link_to 'Scan host', scan_host_path(@host), {:method => :get} %> <%= button_to 'Edit host', edit_host_path(@host), {:method => :get} %>
</div>

<div>
<p>
  <b>Package split by architecture.</b><br />
  <table>
    <tr>
      <th>Architecture</th>
      <th>Number of packages</th>
    </tr>   
    <% @arch_split.each do |i| %>
      <tr class="<%= cycle("even", "odd") -%>">
        <td><%= "#{i.name}:" %></td>
        <td><%= link_to "#{i.count}", :controller => "hosts", :action => "show", :search => {"arch_name_equals" => "#{i.name}"} %></td>
      </tr>
    <% end %>
  </table>
</p>
</div>

<div>
<p>
  <b>Repositories currently enabled.</b><br />
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Url</th>
    </tr>  
    <% @repos.each do |r| %>
      <tr class="<%= cycle("even", "odd") -%>">    
        <td><%= link_to("#{r.repo.name}", :controller => "repos", :action => "show", :id => r.repo.name) %></td>
        <td><%= "#{r.repo.repo_type}" %></td>
        <td><%= url_for("#{r.repo.url}") %></td>
      </tr>
    <% end %>
  </table>
</p>
</div>   

<h3>Packages installed on this host.</h3>

<p>
  <%= form_tag host_path(@host), :method => "get" do %>
    Package name
    <%= text_field :search, :package_name_equals %>
    Version name
    <%= text_field :search, :version_name_equals %>
    Arch name
    <%= text_field :search, :arch_name_equals %>        
    <%= submit_tag "Search" %><br />
  <% end %>
</p>

<p>
  <table class="list">
    <tr>
      <th><%= sort_link @search, :package_name, "Package", :class => "package" %></th>
      <th><%= sort_link @search, :version_name, "Version", :class => "version" %></th>
      <th><%= sort_link @search, :arch_name, "Arch", :class => "arch" %></th>
      <th><%= sort_link @search, :installed_on, "Install Date", :class => "installation" %></th>
     </tr>

    <%= render @host_installations %>

  </table>
</p>      
