<h1>Listing Versions</h1>

<%= form_for @search do |f| %>
  <%= f.label :name_equals %>
  <%= f.text_field :name_equals %><br />
  <h6> OR </h6>
  <%= f.label :name_contains %>
  <%= f.text_field :name_contains %><br />
  <%= f.submit "Search"%>
<% end -%>

<table class="list">
  <tr>
    <th><%= sort_link @search, :name, "Version Name" %></th>
    <th>Packages<th>
  </tr>
  <% @versions.each do |v| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= link_to v.name, version_path(v.name) %></td>
      <td><%= "TODO"  %></td>
    </tr>
  <% end %>
</table>
