<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "LPT: Linux Package Tracker.") %></title>
  <% unless flash[:notice].blank? %>
    <div id="notification"><%= flash[:notice] %></div>
  <% end %>
  <%= yield(:head) %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <p>
	    <h1>Linux Package Tracker</h1><br />
	  </p>
  </div>

  <%= yield %>

</body>
</html>
